AutocompleteBackend/target/*
AutocompleteBackend/target/**/*
AutocompleteBackend/.classpath
AutocompleteBackend/.project
AutocompleteBackend/.settings/

### IntelliJ IDEA ###
AutocompleteBackend/.idea
AutocompleteBackend/.idea/workspace.xml



### Mac OS ###
.DS_Store
.idea/*
*.iml

autocomplete-frontend/node_modules
autocomplete-frontend/node_modules/*
autocomplete-frontend/node_modules/**/*
autocomplete-frontend/.idea
autocomplete-frontend/.idea/*
autocomplete-frontend/.idea/**/*
autocomplete-frontend/dist
autocomplete-frontend/dist/*
autocomplete-frontend/dist-ssr
autocomplete-frontend/logs
autocomplete-frontend/!log
autocomplete-frontend/*.local
