AutocompleteBackend/target/*
AutocompleteBackend/.classpath
AutocompleteBackend/.project
AutocompleteBackend/.settings/

### IntelliJ IDEA ###
AutocompleteBackend/.idea
AutocompleteBackend/.idea/workspace.xml



### Mac OS ###
.DS_Store
.idea/*
*.iml
