./AutocompleteBackend/target/
./AutocompleteBackend/!.mvn/wrapper/maven-wrapper.jar
./AutocompleteBackend/!**/src/main/**/target/
./AutocompleteBackend/!**/src/test/**/target/

### IntelliJ IDEA ###
./AutocompleteBackend/.idea/modules.xml
./AutocompleteBackend/.idea/jarRepositories.xml
./AutocompleteBackend/.idea/compiler.xml
./AutocompleteBackend/.idea
./AutocompleteBackend/*.iws
./AutocompleteBackend/*.iml
./AutocompleteBackend*.ipr




### Mac OS ###
.DS_Store